[tool.poetry]
name = "chirp"
version = "0.1.0"
description = "A bioacoustics research project."
authors = ["Chirp Team <chirp-bio@google.com>"]
license = "Apache 2.0"

[tool.poetry.dependencies]
python = ">=3.10,<3.11"
absl-py = "^1.3.0"
apache-beam = "^2.46.0"
clu = "^0.0.8"
flax = "^0.6.7"
jax = "^0.4.1"
ml-collections = "^0.1.1"
optax = "^0.1.4"
# Note that tensorflow and tensorflow-io versions must be synchronized.
# See: https://github.com/tensorflow/io#tensorflow-version-compatibility
tensorflow = "=2.11.0"
tensorflow-io = "=0.31"
tensorflow-datasets = {version = "^4.8.0", extras = ["dev"]}
pandas = "1.5.1"
etils = {version = "^0.9.0", extras = ["epath"]}
ratelimiter = "^1.2.0.post0"
SPARQLWrapper = "^2.0.0"
scenic = {git = "https://github.com/google-research/scenic.git"}
tensorflow-hub = "^0.12.0"
imageio = "^2.5.0"
matplotlib = "^3.6.1"

[tool.poetry.group.dev.dependencies]
librosa = "^0.9.2"
numpy = "^1.22.4"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
